{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'styles/ranking.css' %}">
{% endblock %}

{% block content %}
    <main class="ranking">
        <h2>Piro 명예의 전당</h2>
        <hr/>
        <div class="ranking_container">
            <div class="ranking_list">
                {% for user in users %}
                    <div class="ranking_user">
                        <h3> {{ user.username }} </h3>
                        <h3> 점수 : {{ user.point }} </h3>
                        <div class="bar"></div>
                    </div>
                {% endfor %}
            </div>
            <form method="post" action="{% url 'game:list_view' %}">
                {% csrf_token %}
                <button type="submit">전적목록</button>
            </form>   
        </div>
            
        </div> 
        </main>

{% endblock %}