{% extends 'base.html' %}

{% block content %}
<h2>{{ user.username }}'s Game List</h2>

<table>
  <thead>
    <tr>
      <th>Match</th>
      <th>Status</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    {% for game in games %}
    <tr>
      <!-- 어떤 유저와 어떤 유저의 대결인지 -->
      <td>
        {{ game.attacker.username }} vs {{ game.defender.username }}
      </td>

      <!-- 게임의 상태 -->
      <td>
        {% if not game.defender_card %}
          {% if game.attacker == user %}
            진행중...
            <form method="post" action="{% url 'cancel_game' game.id %}">
              {% csrf_token %}
              <button type="submit">게임취소</button>
            </form>  
          {% elif game.defender == user %}
          <form method="post" action="{% url 'counterattack' game.id %}">
            {% csrf_token %}
            <button type="submit">counterattack!</button>
          </form> 
          {% endif %}
        {% else %}
          {% if game.result == "DRAW" %}
            Draw
          {% elif game.get_result_for_user(user) == "WIN" %}
            Win
          {% else %}
            Lose
          {% endif %}
        {% endif %}
      </td>

      <!-- 게임 정보 버튼 -->
      <td>
        <a href="{% url 'game_detail' game.id %}">게임 정보</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
