{% extends 'base.html' %} {% block content %}
<main class="container">
  <section class="header-section">
    <div class="main_title">
      <p>Piro Game</p>
    </div>
    <div class="user-info">
      {% if user.is_authenticated %}
      <div class="login-status">{% if nickname %} {{ nickname }} 님이 로그인 중 {% else %} {{ user.username }} 님이 로그인 중 {% endif %}</div>
      {% endif %}
    </div>
  </section>
  <div class="bottom-buttons">
    <form method="GET" action="{% url 'game:start_game' %}">
      <button {% if not user.is_authenticated %}disabled{% endif %}>start</button>
    </form>
    <form method="GET" action="{% url 'game:list' %}">
      <button {% if not user.is_authenticated %}disabled{% endif %}>list</button>
    </form>
  </div>
</main>
{% endblock %}
