{% comment %} {% load static %} {% endcomment %} {% load socialaccount %}
<!DOCTYPE html>
<html>
  <head>
    <title>Document</title>
  </head>
<body>
<div>
  <h1>그냥 회원가입</h1>
  <form method="post">
    {% csrf_token %}
    <p>
      <label for="{{ form.username.id_for_label}}">아이디:</label>
      {{ form.username }} {% if form.username.errors %}
      <span class="error">{{ form.username.errors }}</span>
      {% endif %}
    </p>













</div>

<div>
  <h1>카카오로 회원가입</h1>
  <button type="button" onclick="location.href = '{% provider_login_url 'kakao' %}'">
    <img class="kakao" src="https://k.kakaocdn.net/14/dn/btroDszwNrM/I6efHub1SN5KCJqLm1Ovx1/o.jpg" alt="" />
  </button>
</div>
</body>
</html>

{% comment %} 아이디
비밀번호
비밀번호 확인
이름
전화번호
이메일 주소

가입하기 가입취소(url 'login')



마이페이지, 로그아웃 페이지 {% endcomment %}